<h1>Edit Song</h1>
<form action="/songs/<%= song['id'] %>" method="POST">
  <input type="hidden" name="_method" value="put">

  <label for="">Name: </label>
  <input type="text" name="name" value="<%= song['name'] %>">

  <label for="">Artist: </label>
  <input type="text" name="artist" value="<%= song['artist'] %>">

  <label for="">Image: </label>
  <input type="text" name="img_url" value="<%= song['img_url'] %>">

  <label for="">Lyrics: </label>
  <input type="text" name="lyrics" value="<%= song['lyrics'] %>">
  <button>Update Song</button>
</form>