<% if logged_in? %>
    <h2>Welcome to Lyric Hub <%= current_user['first_name'] %> </h2>

    <section class="controls">
        <form action="/sessions" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button>Logout</button>
        </form>

        <a href="/songs/new">Add Song</a>
    </section>

<div class="lyrics">
    <section class="songs">
        <% song.each do |music| %>
          <div>
            <audio controls>
            <source src="/songs/<%=music['name']%>.mp3" 
            <%# preload="auto" %>
            
            type="audio/mpeg">	
            </audio>
        </div>

            <section class="search">
                <header>
                    <h2 class="search"> 
                        <%= music['name'] %> 
                        <br>                   
                        <%= music['artist'] %>

                    </h2>
                    <section class="controls">

                    </section>
                </header>
                <%= music['lyrics']%>
                <% end %>
            </section>
            <a href="/">Return to search</a>
        
    </section>
</div>
    <% else %>

        <a href="/users/new">Sign up</a>
        <a href="/sessions/new">Login</a>

<% end %>